%h1
  Create a new room

.form-group
  = simple_form_for @room do |f|
    = f.input :name, :placeholder => 'name', :class => "form-control", :label => false
    = f.submit "submit", class: "btn btn-success"
