// Place all the styles related to the questions controller here.
// They will automatically be included in application.sass.
// You can use Sass (SCSS) here: http://sass-lang.com/
.votes {
	text-align: center;
	.glyphicon {
		color: $gray;
	}
	.upvote:hover {
		color: $brand-success;
		text-decoration: none
	}
	.downvote:hover {
		color: $brand-danger;
		text-decoration: none
	}
	.upvote-active {
		color: $brand-success;
	}
	.downvote-active {
		color: $brand-danger;
	}
	a {
		text-decoration: none;
	}
}
.small_info {
	color: $gray-light;
	font-size: small
}
textarea {
	margin: 0;
	margin-bottom: 10px
}
.glyphicon {
	top: 0px;
}

.answered {
	color: $gray-light
}

tr .action a {
	visibility: hidden
}
tr:hover .action a {
	visibility: visible
}

.btn {
	background: transparent;
}
.btn-danger {
	color: $brand-danger;
}
.btn-success {
	color: $brand-success;
}
.btn-info {
	color: $brand-info;
}

a.room .room-elem {
	color: $gray;
}
a.room:hover {
	text-decoration: none;
}
li {
	text-decoration: none;
	border: solid $gray-lighter 1px;
	margin: 10px;
	padding: 10px;
	list-style: none;
}

li:hover {
	background-color: $gray-lighter;
}
