// Place all the styles related to the questions controller here.
// They will automatically be included in application.sass.
// You can use Sass (SCSS) here: http://sass-lang.com/
.votes {
		text-align: center;
		.glyphicon {
				color: $gray;
	}
	.upvote:hover {
			color: $brand-success;
			text-decoration: none
	}
	.downvote:hover {
			color: $brand-danger;
			text-decoration: none
	}
	input {
			text-decoration: none;
			-webkit-appearance: listitem;
			background: transparent;
	}
	form {
			margin-bottom: 0px;
	}
	.active.upvote{
			color: $brand-success;
			pointer-events: none;
			cursor: default;
	}
	.active.downvote {
			color: $brand-danger;
			pointer-events: none;
			cursor: default;
	}
}

tr .action input {
		visibility: hidden
}
tr:hover .action input {
		visibility: visible
}

.answered {
		color: $gray-light
}
.answered {
		background-color: rgb(237, 237, 237);
}
.answered #upvote,
.answered #downvote {
		visibility: hidden;
}
.answered .btn-info {
		visibility: hidden !important;
}
