body {
	font-family: 'Open Sans', sans-serif;
}

.navbar {
	border-radius: 0px;
	background-color: $gray-dark;
	border: 0px;
	border-bottom: 3px;
	border-color: $gray;
	.home-title {
		a {
			font-weight: bold;
			color: $gray-lighter;
			border: 0px;
		}
	}
}

a.room_link {
	text-decoration: none;
	color: #207391;
}
a.room_link:hover {
	color: $gray-dark;
	text-decoration: none;
}

td.pull-right {
	text-align: right;
}

.btn {
	border-radius: 2px;
}

.editor {
  display: hidden;
}
